<!DOCTYPE html>
<html>
    <head>
       <base href="http://localhost:8888/zurv.time/">
       <title>zurv::time.tracker</title>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       
       <link rel="stylesheet" type="text/css" href="css/reset.css">
       <link rel="stylesheet" type="text/css" href="css/ui-lightness/jquery-ui-1.8.16.custom.css">
       <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div id="container">
            <ul id="main-navigation">
                <li class="active"><a href="#">Projekte</a></li>
            </ul>
            <article id="content">
                <nav id="project-navigation" class="clearfix">
                    <select>
                        <option value="-1">Alle Projekte</option>
                        <option value="new">Neues Projekt ...</option>
                        <optgroup label="Projekte" id="projects"></optgroup>
                    </select>
                    <a href="#" id="delete-project-link">löschen</a>
                    <div class="floatRight clearfix">
                        <a href="#" id="filter-prev-month">zurück</a>
                        <span id="current-selected-month" class="month">aktueller Monat</span>
                        <a href="#" id="filter-next-month">vor</a>

                        <a href="#" id="filter-today" class="active">Heute</a>
                        <a href="#" id="filter-month">Dieser Monat</a>
                        <a href="#" id="filter-date"><input type="hidden" id="filter-date-input"><span>Datum</span></a>
                    </div>
                </nav>
                <section>
                    <h1><input type="checkbox" id="check-all-paid"> Zeiten <a href="#" id="add-track-link">+</a></h1>
                    <form id="new-track-entry" action="#" method="post">
                    <table class="time-track">
                        <colgroup>
                            <col width="10%">
                            <col width="55%">
                            <col width="15%">
                            <col width="10%">
                            <col width="10%">
                        </colgroup>
                        <tbody></tbody>
                           <tfoot>
                               <tr>
                                   <td colspan="5" class="right"><span class="paid">0</span><span class="total">0</span></td>
                               </tr>
                        </tfoot>
                    </table>
                    </form>
                </section>
            </article>
        </div>
       
        <script type="text/x-jquery-template" id="tmpl-track-item">
            <tr class="track <%= (this.paid == 1 ? 'paid' : '') %>">
                <td><time datetime="<%= this.formattedDate('y-m-d') %>"><%= this.formattedDate('d-m') %></time></td>
                <td><input type="checkbox" class="paid" <%= (this.paid == 1 ? 'checked="checked"': '') %>><%= this.description %></td>
                <td class="right"><%= this.formattedTime() %> (<%= this.industryTime() %>)</td>
                <td class="center"><%= parseFloat(this.rate, 10).toFixed(2) %> &euro;</td>
                <td class="right">
                    <span class="due"><%= this.sum().toFixed(2) %> &euro;</span>
                    <div class="controls"><a href="#" class="remove">-</a></div>
                </td>
            </tr>
        </script>
        
        <script type="text/x-jquery-template" id="tmpl-new-track">
            <tr id="new-track">
                <td>&nbsp;</td>
                <td><input type="text" id="form-description" value="<%= this.description ? this.description : '' %>" placeholder="Beschreibung ..."></td>
                <td class="right"><input type="text" id="form-time" value="<%= this.time ? this.time : '' %>" placeholder="Min" class="right"></td>
                <td class="center"><input type="text" id="form-rate" value="<%= this.rate ? parseFloat(this.rate).toFixed(2) : '' %>" placeholder="Rate" class="right"></td>
                <td class="right">
                    <input type="hidden" id="form-id" value="<%= this.id ? this.id : '' %>">
                    <input type="hidden" id="form-paid" value="<%= this.paid == 1 ? true : '' %>">
                    <input type="hidden" id="form-date" value="<%= this.date ? this.date : '' %>">
                    <input type="submit" value="Speichern"></td>
            </tr>
        </script>
        
        <script type="text/x-jquery-template" id="tmpl-project-item">
            <option value="<%= this.id %>"><%= this.name %></option>
        </script>
        
        <script type="text/javascript" src="js/jquery-1.6.4.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="js/jquery.jqote2.js"></script>
        <script type="text/javascript" src="js/spine/lib/spine.js"></script>
        <script type="text/javascript" src="js/spine/lib/local.js"></script>
        <script type="text/javascript" src="js/spine/lib/ajax.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>